<body>
<header>
   <nav class="navbar navbar-dark navbar-expand-md bg-dark">
      <div class="navbar-brand">
         <img src="https://www.google.com/images/branding/googleg/1x/googleg_standard_color_128dp.png" alt=""
            width="50%">
      </div>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#conteudoNavbarSuportado">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a href="/admin/users" class="nav-link">Usuários</a>
            </li>
            <li class="nav-item">
               <a href="/admin/categories" class="nav-link">Categorias</a>
            </li>
            <li class="nav-item">
               <a href="/admin/articles" class="nav-link">Artigos</a>
            </li>
         </ul>
      </div>
      <div class="float-right">
         <a href="/logout" role="button" class="btn btn-primary">Sair</a>
      </div>
   </nav>
</header>