<%- include('../../layout/header', { page: 'newCategory' }); %>
<%- include('../../layout/adminnavbar'); %>
<section class="container-fluid my-3">
   <div class="container p-3">
      <h1>Cadastrar categoria</h1>
      <hr>
      <form action="/categories/save" method="POST" class="form-group mt-3" autocomplete="off">
         <label>Insira um título</label>
         <input type="text" class="form-control" name="title" placeholder="Insira o título da categoria" autofocus>

         <div class="d-flex justify-content-end mt-4">
            <button type="submit" class="btn btn-primary mr-3"><i class="fa fa-save mr-2"></i>Cadastrar</button>
            <button type="reset" class="btn btn-secondary"><i class="fa fa-ban mr-2"></i>Cancelar</button>
         </div>
      </form>
   </div>
</section>
<%- include('../../layout/footer'); %>